.section{
  margin-top: 50px;
  display: grid;
  grid-template-areas: "input input"
                       "select1 select2";
  width: 100vw;
  align-items: center;
  justify-content: center;
  grid-column-gap: 5px;
  grid-row-gap: 1vh;
  .inputSection {
    grid-area: input;
  }
}