.section{
  margin-top: 50px;
  display: grid;
  grid-template-areas: "input input"
                       "select1 select2";
  width: 100vw;
  align-items: center;
  justify-content: center;
  grid-column-gap: 5px;
  grid-row-gap: 1vh;
  .inputSection {
    grid-area: input;
    display: flex;
    gap:10px;
    position: relative;
    align-items: center;
    .input{
      padding-right: 7vw;
      font-size: 1.3rem;
    }
    .button {
      position: absolute;
      right: 0;
      width: 7vw;
      height: 3vh;

    }
    @media (max-width: 800px) {
      flex-direction: column;
      .button{
        position: relative;
        width: 20vw;
        height: 2vh;
        border-radius: 50px;

      }
    }
  }
}